main,
h1 {
  padding: 1em;
}

html {
  background-color: lightgray;
}

img {
  height: 10rem;
  width: auto;
  border-radius: 1em;
}

main p {
  background-color: gainsboro;
}

main li {
  border: thin solid black;
  padding: 1em;
  background-color: gainsboro;
}

footer {
  border: thin solid black;
}

h1,
p {
  color: orangered;
}

li {
  list-style-type: none;
}

img,
main li {
  box-shadow: 0.5em 0.5em 0.5em black;
}